<div class="layout-footer">
    <img src="assets/demo/images/360_Station_Store.png" alt="Logo" height="20" class="mr-2"/>
    Copyright @2022 Todos los derechos reservados por 
    <span class="font-medium ml-2">360 Station - </span>
    <span class="font-medium ml-2"> Sigamos Conectados: </span>
    <ul class="list-unstyled list-inline">
    <a href="https://www.facebook.com/station360store" class="btn-floating btn-sm text-black" target="_blank" style="font-size: 23px;"><i class="pi pi-facebook"></i></a>
    <a href="https://www.instagram.com/360station.store/" class="btn-floating btn-sm text-black" target="_blank" style="font-size: 23px;">&nbsp;<i class="pi pi-instagram"></i></a>
    <a href="https://wa.me/541130890360" class="btn-floating btn-sm text-black" target="_blank" style="font-size: 23px;">&nbsp;<i class="pi pi-whatsapp"></i></a>
    <a href="mailto:360station.store@gmail.com" class="btn-floating btn-sm text-black" target="_blank" style="font-size: 23px;">&nbsp;<i class="pi pi-google"></i></a>
    </ul>
</div>